@import "tailwindcss";

:root {
  /* Pauv Brand Colors */
  --background: #000000;
  --foreground: #FFFFFF;
  --box: #171717;
  --box-light: #262626;
  --box-outline: #404040;
  --accent-red: #EF4444;
  --accent-logo: #E5C68D;
  --accent-green: #6EE7B7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code), "Fira Code", monospace;
}

/* Custom utility classes */
@utility text-balance {
  text-wrap: balance;
}
